spring:
  application:
    name: edu-tool

  datasource:
    url: jdbc:postgresql://localhost:5432/eduTool
    username: postgres
    password: 12345

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      data-locations: classpath:/data.sql

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
        debug: true

server:
  port: 8080
  error:
    include-stacktrace: never
    include-message: always

logging:
  level:
    org.springframework.security: DEBUG

jwt:
  secret: very-very-super-secret-key-at-least-32-characters-long
  access-token-expiration: 604800
